@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Moderat";
  src: url("../public/font/Moderat-Bolder.ttf");
  src: url("../public/font/Moderat-Bold.ttf");
  src: url("../public/font/Moderat-Medium.ttf");
  src: url("../public/font/Moderat-Regular.ttf");

}
body{
  font-family: moderat;
}
.btn{
  @apply rounded-lg py-2 px-5 font-medium shadow-sm
}
.link{
  @apply text-slate-500 px-2 mx-4
}

.active{
  @apply text-primary font-semibold border-b-2 border-b-primary pb-3
}
.btn.active{
  @apply text-white
}
.key-shadow{
  box-shadow: 0px 6px 30px 0px #00000014;
}
.round-bottom{
  border-radius: 0 0 95% 30% / 50px;
}
.round-top{
  border-radius: 55% 95% 0 0 / 50px;

}
.neg-margin{
  margin-top: -7rem;
}