@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Moderat";
  src: url("../public/font/Moderat-Bolder.ttf");
  src: url("../public/font/Moderat-Bold.ttf");
  src: url("../public/font/Moderat-Medium.ttf");
  src: url("../public/font/Moderat-Regular.ttf");

}
body{
  font-family: moderat;
}
html,body{
    overflow-x: hidden;
}
.btn{
  @apply rounded-lg py-2 px-5 font-medium shadow-sm
}
.link{
  @apply text-slate-500 px-2 mx-4
}

.active{
  /* @apply text-primary font-semibold border-b-2 border-b-primary pb-3 */
}
.btn.active{
  @apply text-white
}
.key-shadow{
  box-shadow: 0px 6px 30px 0px #00000014;
}
.round-bottom{
  border-radius: 0 0 95% 30% / 50px;
}
.round-top{
  border-radius: 55% 95% 0 0 / 50px;

}
.round-bottomm{
  border-radius: 50%;
}
.neg-margin{
  margin-top: -7rem;
}


.accordion{
  /* width:500px; */
}

.acc-item{
  margin-bottom: 10px;
  border-bottom: 1px solid #EAECF0

}

.image-shrink{
  flex-shrink: 0;
}
.acc-title{
  @apply flex justify-between items-center 
}
.content{
  overflow:hidden;
  transition: all 0.5s cubic-bezier(0,1,0,1);
  max-height: 0;
}
.content.show{
  height: auto;
  max-height: 999px;
  transition: all 0.5s cubic-bezier(0,1,0,1);
}
